{% extends "Ideas/layout.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h2 class="mb-6 text-3xl">Login</h2>

    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="inline-block mb-2">Username</label>
            <input autofocus class="form-control" type="text" name="username" placeholder="Username" required>
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Username</label>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>

        {% if message %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {{ message }}
            </div>
        {% endif %}
        <input class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white" 
        type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div>
{% endblock %}