{% extends "Tasks/layout.html" %}
{% load static %}

{% block head %}
	<title>Tasks</title>
	<link href="{% static 'Tasks/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div id="container">
		<ul id="list">
			{% for task in tasks %}
			<div id="task_div" data-id="{{ task.id }}">
				<li>{{ task.task_name }}</li>
				<button id="mark_as_done_btn">Mark as Done</button>
				<button class="delete_btn">Delete Task</button>
				<button id="update_btn">Update Task</button>
			</div>
			{% empty %}
				<h1>There are no tasks available</h1>
			{% endfor %}
		</ul>

		<button id="add_link">Add a new task</button>
	</div>

	<div id="add_task_section">
	</div>


	<div id="done_tasks">
	</div>

	{# javascript section #}
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			document.querySelector("#add_link").onclick = () => {
				fetch("add")
				.then(response => response.text())
				.then(text => {
					document.querySelector("#add_task_section").innerHTML = text;
				});
			};

			// adding events to the delete button 
			document.addEventListener('click', event => {
				const element = event.target;
				if (element.className === "delete_btn"){
					const parentElement = element.parentElement;
					parentElement.style.animationPlayState = 'running';

					//action on animation end
					element.parentElement.addEventListener("animationend", () => {
						fetch(`delete/${parentElement.dataset.id}`)
						.then(response => response.json())
						.then(data => {
							console.log(data.message);
						})
						.catch(error => {
							console.error('Error', error);
						});

						//remove parent element from the webpage
						element.parentElement.remove();
					});
				}
			});
		});
	</script>
{% endblock %}
