{% extends "Tasks/layout.html" %}
{% load static %}

{% block head %}
	<title>Tasks</title>
	<link href="{% static 'Stylesheets/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
	<header>
		{% if task_added_message %}
			<h1>{{ task_added_message }}</h1>
		{% endif %}
		<h1 align="center">Task List</h1>
		<form id="new-task-form" method="POST" action="{% url 'index' %}">
			{% csrf_token %}
			<input 
				type="text" 
				name="new-task-input" 
				id="new-task-input" 
				placeholder="What do you have planned?" />
			<input 
				type="submit"
				id="new-task-submit" 
				value="Add task" />
		</form>
	</header>
	<main>
		<section class="task-list">
			<h2>Tasks</h2>

			<div id="tasks">

				{% for task in tasks %}
				{% if task.is_authorized %}
				<div class="task" data-id="{{ task.id }}">
					<div class="content">
						<input 
							type="text" 
							class="text" 
							value="{{ task.task_name }}"
							readonly>
					</div>
					<div class="actions">
						<button class="edit">Edit</button>
						<button class="delete">Delete</button>
					</div>
				</div> 
				{% endif %}
				{% empty %}
				<h1>No tasks available</h1>
				{% endfor %}
			</div>
		</section>
	</main>



	{# javascript section #}
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			// adding events to the delete button 
			document.addEventListener('click', event => {
				const element = event.target;
				if (element.className === "delete"){
					const parentElement = element.parentElement.parentElement;
					parentElement.style.animationPlayState = 'running';

					//action on animation end
					parentElement.addEventListener("animationend", () => {
						fetch(`delete/${parentElement.dataset.id}`)
						.then(response => response.json())
						.then(data => {
							console.log(data.message);
						})
						.catch(error => {
							console.error('Error', error);
						});

						//remove parent element from the webpage
						element.parentElement.remove();
					});
				}
			});
		});
	</script>
{% endblock %}
